version: "3.7"
services:
  traefik:
    image: traefik:v2.2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./acme.json:/acme.json
      - ./.htpasswd:/.htpasswd
    ports:
      - "80:80"
      - "443:443"
  ghost:
    image: ghost:3-alpine
    volumes:
      - ghost_data:/var/lib/ghost/content
    environment:
      mail__transport: SMTP
      mail__options__service: Mailgun
      mail__options__auth__user: ${MAILGUN_USER}
      mail__options__auth__pass: ${MAILGUN_PASS}
  frontend:
    build:
      context: .
    depends_on:
      - ghost

volumes:
  ghost_data:
