version: "3.7"
services:
  traefik:
    command: >
      --providers.docker
      --api.dashboard=true
      --api.insecure=true
      --entryPoints.web.address=:80
    labels:
      # Traefik should live under traefik.DOMAIN
      - traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)
      # Make sure the loadbalancer uses the correct port
      - traefik.http.services.traefik.loadbalancer.server.port=8080
      # Register the Dashboard service
      - traefik.http.routers.traefik.service=api@internal
      # Development env only uses http
      - traefik.http.routers.traefik.entrypoints=web
  ghost:
    ports:
      - 8080:2368
    labels:
      # Ghost should live under ghost.DOMAIN
      - traefik.http.routers.ghost.rule=Host(`blog.${DOMAIN}`) && PathPrefix(`/ghost/`, `/content/`, `/members/`, `/sitemap`,  `/robots.txt`)
      # Make sure the loadbalancer uses the correct port
      - traefik.http.services.ghost.loadbalancer.server.port=2368
      # Development env only uses http
      - traefik.http.routers.ghost.entrypoints=web
    environment:
      url: http://blog.${DOMAIN}
      admin__url: http://blog.${DOMAIN}
  frontend:
    command: yarn dev
    build:
      args:
        APP_ENV: dev
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=development
    labels:
      # Frontend should live under DOMAIN
      - traefik.http.routers.frontend.rule=Host(`blog.${DOMAIN}`)
      # Make sure the loadbalancer uses the correct port
      - traefik.http.services.frontend.loadbalancer.server.port=3000
      # Development env only uses http
      - traefik.http.routers.frontend.entrypoints=web
    volumes:
      - frontend_node_modules:/app/node_modules
      - ../:/app
  commento:
    environment:
      - COMMENTO_ORIGIN=http://commento.${DOMAIN}
    ports:
      - 8060:8060
    labels:
      # Commento should live under commento.DOMAIN
      - traefik.http.routers.commento.rule=Host(`commento.${DOMAIN}`)
      # Make sure the loadbalancer uses the correct port
      - traefik.http.services.commento.loadbalancer.server.port=8060
      # Development env only uses http
      - traefik.http.routers.commento.entrypoints=web

volumes:
  frontend_node_modules:
