@import "./transitions";
@import "./typography.css";
@import "./c.css";

html,
body {
  height: 100%;
}

html {
  scroll-padding-top: 70px;
  @screen md {
    scroll-padding-top: 80px;
  }
  @screen xl {
    scroll-padding-top: 90px;
  }
}

body {
  @apply bg-white text-gray-800 flex flex-col antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &.dark-mode {
    @apply text-gray-100 bg-gray-1000;
  }
}
